# New Section

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving final.csv to final (1).csv

In [ ]:
import pandas as pd

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stop = stopwords.words('english')

In [ ]:
df=pd.read_csv('data.csv',lineterminator='\n')

In [ ]:
df.head()

                   Review_Date  ... Rating\r
0   on 10/13/05 15:30 PM (PDT)  ...    4.625
1   on 07/17/05 21:59 PM (PDT)  ...    2.125
2   on 07/16/02 00:00 AM (PDT)  ...    5.000
3   on 12/29/07 21:57 PM (PST)  ...    4.500
4   on 02/09/05 18:52 PM (PST)  ...    2.875

[5 rows x 6 columns]

In [ ]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
import re

In [ ]:
df.dropna(inplace=True)

In [ ]:
df['joint_review']=df['Review_Title']+df['Review']

In [ ]:
df.head()

                   Review_Date  ...                                       joint_review
0   on 10/13/05 15:30 PM (PDT)  ...  Great delivery vehicle It's been a great deliv...
1   on 07/17/05 21:59 PM (PDT)  ...  Disappointmnet Bought this car as a commuter v...
2   on 07/16/02 00:00 AM (PDT)  ...  Sweet van This van rocks its the best, lots of...
3   on 12/29/07 21:57 PM (PST)  ...  Keven Smith Great work vehicle. Drives nice. h...
4   on 02/09/05 18:52 PM (PST)  ...  Not what Dodge used to be Good solid frame and...

[5 rows x 7 columns]

In [ ]:
df['Sentiments']=np.where(df['Rating\r']>=4.0,1,0)

In [ ]:
df = df[['joint_review','Sentiments']]

In [ ]:
df

                                             joint_review  Sentiments
0       Great delivery vehicle It's been a great deliv...           1
1       Disappointmnet Bought this car as a commuter v...           0
2       Sweet van This van rocks its the best, lots of...           1
3       Keven Smith Great work vehicle. Drives nice. h...           1
4       Not what Dodge used to be Good solid frame and...           0
...                                                   ...         ...
215368  What a car! My first NEW car in many years. \r...           1
215369  AWFUL Quality and Reliability This car has a n...           0
215370  BAD EXPERIENCE WE LIKED HOW THE CAR HANDLES AN...           0
215371  Nice Design Poor Build My 300M is a nicely des...           0
215372  2003 Special I took advantage of the 0% financ...           1

[215373 rows x 2 columns]

In [ ]:
df['joint_review']=df['joint_review'].apply((lambda x: re.sub('[^a-zA-z0-9\s]','',x)))

In [ ]:
df['joint_review']

0         Great delivery vehicle Its been a great delive...
1         Disappointmnet Bought this car as a commuter v...
2         Sweet van This van rocks its the best lots of ...
3         Keven Smith Great work vehicle Drives nice has...
4         Not what Dodge used to be Good solid frame and...
                                ...
215368    What a car My first NEW car in many years \rCo...
215369    AWFUL Quality and Reliability This car has a n...
215370    BAD EXPERIENCE WE LIKED HOW THE CAR HANDLES AN...
215371    Nice Design Poor Build My 300M is a nicely des...
215372    2003 Special I took advantage of the 0 finance...
Name: joint_review, Length: 215373, dtype: object

In [ ]:
df['joint_review']=df['joint_review'].str.lower()

In [ ]:
df['joint_review']

0         great delivery vehicle its been a great delive...
1         disappointmnet bought this car as a commuter v...
2         sweet van this van rocks its the best lots of ...
3         keven smith great work vehicle drives nice has...
4         not what dodge used to be good solid frame and...
                                ...
215368    what a car my first new car in many years \rco...
215369    awful quality and reliability this car has a n...
215370    bad experience we liked how the car handles an...
215371    nice design poor build my 300m is a nicely des...
215372    2003 special i took advantage of the 0 finance...
Name: joint_review, Length: 215373, dtype: object

In [ ]:
df['joint_review']=df['joint_review'].apply(lambda x: ' '.join(i for i in x.split() if i not in stop) )

In [ ]:
df['joint_review']

0         great delivery vehicle great delivery vehicle ...
1         disappointmnet bought car commuter vehicle van...
2         sweet van van rocks best lots room carry lot c...
3         keven smith great work vehicle drives nice lot...
4         dodge used good solid frame suspension well eq...
                                ...
215368    car first new car many years comfortable roomy...
215369    awful quality reliability car nice design buil...
215370    bad experience liked car handles drives alwaye...
215371    nice design poor build 300m nicely designed ca...
215372    2003 special took advantage 0 finance looking ...
Name: joint_review, Length: 215373, dtype: object

In [ ]:
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [ ]:
vocab_size = 50000
embedding_dim=16
max_length=50
trunc_type='post'
oov_tok="<oov>"

In [ ]:
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D

Using TensorFlow backend.

In [ ]:
X=df['joint_review']
y=df['Sentiments']

In [ ]:
X

0         great delivery vehicle great delivery vehicle ...
1         disappointmnet bought car commuter vehicle van...
2         sweet van van rocks best lots room carry lot c...
3         keven smith great work vehicle drives nice lot...
4         dodge used good solid frame suspension well eq...
                                ...
215368    car first new car many years comfortable roomy...
215369    awful quality reliability car nice design buil...
215370    bad experience liked car handles drives alwaye...
215371    nice design poor build 300m nicely designed ca...
215372    2003 special took advantage 0 finance looking ...
Name: joint_review, Length: 215373, dtype: object

In [ ]:
y

0         1
1         0
2         1
3         1
4         0
         ..
215368    1
215369    0
215370    0
215371    0
215372    1
Name: Sentiments, Length: 215373, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [ ]:
tokenizer = Tokenizer(num_words=vocab_size,oov_token=oov_tok, split=' ')
tokenizer.fit_on_texts(X_train)
sequences = tokenizer.texts_to_sequences(X_train)
padded= pad_sequences(sequences,maxlen=max_length,truncating=trunc_type)

In [ ]:
testing_sequences = tokenizer.texts_to_sequences(X_test)
testing_padded= pad_sequences(testing_sequences,maxlen=max_length,truncating=trunc_type)

In [ ]:
model=tf.keras.Sequential([
    tf.keras.layers.Embedding(vocab_size,embedding_dim,input_length=max_length),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64,return_sequences=True)),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(32)),
    tf.keras.layers.Dense(64,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
    
])

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 50, 16)            800000
_________________________________________________________________
bidirectional (Bidirectional (None, 50, 128)           41472
_________________________________________________________________
bidirectional_1 (Bidirection (None, 64)                41216
_________________________________________________________________
dense (Dense)                (None, 64)                4160
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 65
=================================================================
Total params: 886,913
Trainable params: 886,913
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:

model.fit(padded,y_train,epochs=10,validation_data=(testing_padded,y_test))

Epoch 1/10
4712/4712 [==============================] - 482s 102ms/step - loss: 0.2836 - accuracy: 0.8884 - val_loss: 0.2647 - val_accuracy: 0.8933
Epoch 2/10
4712/4712 [==============================] - 479s 102ms/step - loss: 0.2345 - accuracy: 0.9087 - val_loss: 0.2683 - val_accuracy: 0.8936
Epoch 3/10
4712/4712 [==============================] - 479s 102ms/step - loss: 0.2025 - accuracy: 0.9225 - val_loss: 0.2748 - val_accuracy: 0.8940
Epoch 4/10
4712/4712 [==============================] - 479s 102ms/step - loss: 0.1671 - accuracy: 0.9365 - val_loss: 0.3046 - val_accuracy: 0.8875
Epoch 5/10
4712/4712 [==============================] - 483s 103ms/step - loss: 0.1315 - accuracy: 0.9506 - val_loss: 0.3979 - val_accuracy: 0.8761
Epoch 6/10
4712/4712 [==============================] - 483s 102ms/step - loss: 0.0993 - accuracy: 0.9632 - val_loss: 0.4394 - val_accuracy: 0.8767
Epoch 7/10
4712/4712 [==============================] - 481s 102ms/step - loss: 0.0738 - accuracy: 0.9727 - val_loss: 0.5491 - val_accuracy: 0.8625
Epoch 8/10
4712/4712 [==============================] - 475s 101ms/step - loss: 0.0548 - accuracy: 0.9803 - val_loss: 0.6079 - val_accuracy: 0.8699
Epoch 9/10
4712/4712 [==============================] - 473s 100ms/step - loss: 0.0410 - accuracy: 0.9856 - val_loss: 0.7161 - val_accuracy: 0.8534
Epoch 10/10
4712/4712 [==============================] - 471s 100ms/step - loss: 0.0317 - accuracy: 0.9888 - val_loss: 0.8488 - val_accuracy: 0.8616

In [ ]:
model.save('Car_NLP.h5')

In [ ]:
e=model.layers[0]
weights=e.get_weights()[0]
print(weights.shape)

(50000, 16)

In [ ]:
word_index=tokenizer.word_index

In [ ]:
reverse_word_index=dict([(value,key) for (key,value) in word_index.items()])

In [ ]:
import io
out_v=io.open('vecs2.tsv','w',encoding='utf-8')
out_m=io.open('meta2.tsv','w',encoding='utf-8')
for word_num in range(1,vocab_size):
   word=reverse_word_index[word_num]
   embedding=weights[word_num]
   out_m.write(word+"\n")
   out_v.write('\t'.join([str(x) for x in embedding])+"\n")
out_v.close()
out_m.close()

In [ ]:
print(word_index)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
value = ['fun & quality']
#vectorizing
value = tokenizer.texts_to_sequences(value)
#padding 
value = pad_sequences(value, maxlen=28, dtype='int32', value=0)
print(value)
sentiment = model.predict(value,batch_size=1,verbose = 2)[0]
print(sentiment)

[[ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
   0  0 25 73]]
1/1 - 0s
[0.91926616]

In [ ]:
y_pred = model.predict_classes(value)
y_pred[0]
if y_pred[0]==[1]:
  print("positive")
else:
  print("negative")

positive